@tailwind base;
@tailwind components;
@tailwind utilities;


.underline-container {
  position: relative;
  display: inline-block;
}

.underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: transparent;
  left: 0;
  bottom: -2px;
}

.underline-container svg path {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: underlineMove 2s infinite linear;
}

@keyframes underlineMove {
  to {
    stroke-dashoffset: 0;
  }
}

.primaryButton {
  position: relative;
    display: inline-block;
    overflow: hidden;
}

.primaryButton span:nth-child(2){
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: #1e3a8a; /* Adjust the color as needed */
  transform-origin: center;
  transform: translate(-50%, -50%) scaleY(0);
  transition: transform 0.5s ease-in-out;
}

.primaryButton:hover span:nth-child(2) {
  transform: translate(-50%, -50%) scaleY(1);
}